.board {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}
.horizontalScrollbar::-webkit-scrollbar {
  height: 10px;
  width: 5px;
}

.horizontalScrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 183, 197, 1);
  border-radius: 10px;
}

.horizontalScrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(68, 83, 90);
}

.horizontalScrollbar {
  overflow-x: scroll;
}

.verticalScrollbar {
  overflow-y: scroll;
  height: 60vh;
}
.verticalScrollbar::-webkit-scrollbar {
  height: 2px;
  width: 10px;
}
.verticalScrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(68, 83, 90);
}
.verticalScrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 183, 197, 1);
  border-radius: 10px;
}
.verticalScrollbar::-webkit-scrollbar-track {
  background: rgba(214, 234, 244, 1);
  display: none; 
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
  box-sizing: border-box;
}

.customDropdown {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 12px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.selectedOption {
  cursor: pointer;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.dropdownIcon {
  position: absolute;
  top: 43%;
  right: -10px;
  transform: translateY(-50%);
}

.options {
  position: absolute;

  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  max-height: 150px;

  padding: 10px 15px 10px 10px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 22px 0px rgba(126, 122, 122, 0.25);
}

.option {
  padding: 5px;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

.date {
  font-size: 16px;
  color: rgba(112, 112, 112, 1);
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 10px;
}

.columns {
  display: flex;

  flex-wrap: no-wrap;
  padding: 20px;
}

.column {
  flex-basis: 300px;
  padding: 20px;
  background: rgba(238, 242, 245, 1);

  margin-right: 20px;
  border-radius: 12px;
 

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  min-width: 30%;
  min-height: 50vh;
}

.column h3 {
  display: flex;
  justify-content: space-between;
}

.column button {
  background: none;
  border: none;
  cursor: pointer;
}

.addCardButton {
  background: none;
  border: none;
  cursor: pointer;
}

.cardContainer {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
}
.leftSection {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;
  gap: 2rem;
  margin-top: 10px;
}
.boardText {
  font-family: "Poppins", sans-serif;
  font-size: 29px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
}
.addBtn {
  display: flex;
  gap: 14px;
}
/* Scrollbar styles */
